<h1>The Village Market</h1>

<p>Hi <%= @vendor.name %>, </p>

<p>Welcome to The Village Market App! Click the link below to activate your account.</p>

<%= link_to 'Activate', confirm_email_vendor_url(@vendor.confirm_token) %>
