// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
 // background-image: url(market_banner.jpg);
 // background-size: cover;
 .picture {
   margin-left: auto;
   margin-right: auto;
 }
}

.container {
  /* font-size: 1.3em; */
  
  table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
  tr {
    height: 50px;
    text-align: left;
  }
  
  td {
    padding:15px;
  }
  
  li {
    list-style: none;
  }
}
