<div class="container">
  <%= render 'shared/navigation' %>
  
  <h2><%= @product.summary %></h2>
  
  <%= image_tag @product.picture.url if @product.picture? %>
  
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
</div>
  
 